@import 'colors.scss';

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

h1 {
    color: var(--primary);
}

.shrink-0 {
    flex-shrink: 0;
}

a,
button {
    margin: 4px;

    &:focus-visible {
        outline: 2px solid var(--primary_light);
        outline-offset: 2px;
    }
}
